<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h2 class="text-center">Forgot your password?</h2>

  <%= f.error_notification %>

  <%= f.input :email, autofocus: true, autocomplete: "email" %>

  <div class="d-grid gap-2">
    <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-primary' %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>