<tr id="<%= dom_id container %>">
  <td>
    <%= link_to container.name, container %>
    <% if container.template? %>
      <span class="badge bg-secondary">TEMPLATE</span>
    <% end %>
  </td>
  <td><%= container.date.to_date %></td>
  <td class="text-end"><%= formatted_value(container.total_income) %></td>
  <td class="text-end"><%= formatted_value(container.total_expenses) %></td>
  <td class="text-end"><%= formatted_balance(container.balance) %></td>
  <td></td>
</tr>