<%= simple_form_for(container) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :template, as: :boolean %>

  <hr>

  <div class="mb-3">
    <%= label_tag :template_id, "Choose a template", class: "form-label" %>
    <%= select_tag :template_id, options_from_collection_for_select(@template_containers, :id, :name, params[:template_id]), include_blank: 'None', class: "form-control" %>
    <small class="form-text text-muted">This is optional. Select a template if you want.</small>
  </div>

  <div class="mb-3">
    <%= f.button :submit, nil, class: 'btn btn-primary' %>
  </div>
<% end %>