<%= form_with(model: [container, record]) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :record_type, style: "display: block" %>
    <%= form.select :record_type, Record.record_types.keys.map { |type| [type.humanize, type] }, { prompt: 'Select Record Type' }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select :category_id, current_user.categories, :id, :name, { prompt: 'Select Category' }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value, class: "form-control" %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :paid, class: "form-check-input" %>
    <%= form.label :paid, class: "form-check-label" %>
  </div>

  <div class="mb-3">
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
