<%= simple_form_for([container, record]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :date, as: :string, input_html: { type: 'date' } %>

  <%= f.input :record_type, collection: Record.record_types.keys.map { |type| [type.humanize, type] }, prompt: 'Select Record Type' %>

  <%= f.input :description, as: :text %>

  <%= f.input :category_id, collection: current_user.categories.order('name asc'), label_method: :name, value_method: :id, prompt: 'Select Category' %>

  <%= f.input :value %>

  <%= f.input :paid, as: :boolean, label: 'Paid' %>

  <div class="mb-3">
    <%= f.button :submit, nil, class: 'btn btn-primary' %>
  </div>
<% end %>