<div id="<%= dom_id record %>">
  <p>
    <strong>Date:</strong>
    <%= record.date %>
  </p>

  <p>
    <strong>Record type:</strong>
    <%= record.record_type.humanize %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= record.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= record.category.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= record.value %>
  </p>

</div>
