<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="text-center">Please log in</h2>

  <%= f.input :email, autofocus: true, autocomplete: "email" %>

  <%= f.input :password, autocomplete: "current-password" %>

  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean, inline_label: 'Remember me', wrapper: :vertical_boolean %>
  <% end %>

  <div class="d-grid gap-2">
    <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
