<%= render 'shared/header', header: 'Categories' do %>
  <%= link_to new_category_path, class: "btn btn-success" do %>
    <i class="bi bi-plus"></i> New category
  <% end %>
<% end %>

<%= render 'categories/filter', q: @q %>

<div id="containers">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th><%= sort_link @q, :name, "Name" %></th>
        <th class="text-end">Records</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

